h3 {
  position: relative;
  padding: 0.5em;
  background: olivedrab;
  color: white;
}
  
h3::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}